:root{
    --main-color-theme: #ffca40;
    --main-color-theme-dark:rgb(220, 164, 24);
    --main-color-black: black;
    --main-color-white: white;
    --main-color-gray: gray;
    --main-color-pinchard: #ccc;
    --main-color-argile: #efefef;
    --main-color-Resene-All-Black: #181818;
    --main-color-dark-gray: rgb(52, 52, 52);
    --main-color-light-gray: #fafafa;
    --main-color-light-green: #96ca4f;
    --main-color-dark-green: #729c37;
}